.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: transform 0.1s ease;
    border: 2px solid black;

}

.btn:active {
  transform: scale(0.90);
  
}