.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: 15rem;
    gap: 1rem;
    padding: 1rem;
    margin: 10rem;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.btn:active {
    border: 1px solid lightgreen;
}

.screen {
    background-color: lightskyblue;
    height: 6rem;
    width: 100%;
}