.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-1);
    margin-bottom: auto;
}

.btn {
    border: none;
}

.icon {
    width: 1rem;
    height: 1rem;
}