.container {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.box {
    max-width: 20rem;
    width: 100%;
    background-color: var(--color3);
}

.inpField {
    display: flex;
    flex-wrap: wrap;
}

.inp {
    padding: 5px;
    min-width: 0;
    flex: 1;
}

.taskField {
    width: 100%;
    flex: 1;
    display: flex;
    overflow-y: auto;
}

.list {
    list-style: none;
    width: 100%;
}

.listli {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.taskText {
    flex: 1;
    min-width: 0;      
    overflow-wrap: break-word;
}