.container {
    background-color: rgb(218, 151, 70);
    height: 50%; /* this is the pct im talking abt */
    width: 100%;
    max-width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inpField {
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}

.inp {
    padding: 5px;
    min-width: 0;
    flex: 1;
}

.checkIcon {
    color: lightgreen;
}

.trashIcon {
    color: red;
}

.taskField {
    background-color: steelblue;
    width: 100%;
    flex: 1;
    display: flex;
    overflow-y: auto;
}

.list {
    list-style: none;
    background-color: blue;
    width: 100%;
}

.listli {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.taskText {
    flex: 1;
    min-width: 0;      
    overflow-wrap: break-word;
}