* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 100vh; /* setting the height here allows me to use %, go to ToDoNotes.module.css to understand better */
    display: flex;
    flex-direction: column;
    background-color: lightslategrey;
    overflow-x: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    align-items: center;
    flex: 1;
}