/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}

/* variables */
:root {
  --bg: azure;
  --text: #ffffff;
}

/* global */