.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    gap: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    height: fit-content;
    width: fit-content;
    padding: 1rem;
}

.btn:active {
    transform: scale(0.90);
}

.icon {
    max-width: 2rem;
    max-height: 2rem;
}